.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar{
  background: #3c427c
}
.spacer{
  flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.link {
  padding: 10px;
}
@media(max-width: 400px){
  .link{
    display: none;
  }
}